body {
    padding: 0;
    margin: 0;
    font-family: "PT Sans", "Arial", sans-serif;
    text-transform: uppercase;
    background: #f2f2f2;
}
.wrapper {
    width: 1200px;
    margin: 0 auto;
    box-shadow: rgba(0,1,1,0.2);
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
img {
    max-width: 100%;
    height: auto;
}
h2 {
    font-size: 21px;
}
p {
    font-size: 14px;
}
h1 {
    font-size: 30px;
}
.main-navigation {
    display: flex;
    background: #ffffff;
    justify-content: space-between;
    height: 57px;
    align-items: center;
    font-weight: bold;
    width: 1200px;
    
}
.main-navigation .info{
    order: -2;
    padding-left: 73px;
    text-decoration: none;
    color: black;
}
.main-navigation .photo {
    order: -1;
    text-decoration: none;
    color: black;
   
}
.main-navigation .hotels {
    padding-right: 73px;
    text-decoration: none;
    color: black;
}
.main-navigation .map {
    text-decoration: none;
    color: black;
}
h1, h2, p {
    text-transform: uppercase;
}
.picture{
    height: 564px;
    width: 1200px;
    background: url("../img/new-background.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}
.slogan {
    text-align: center;
    background-color:#ffffff;
    height: 230px;
    width: 1200px;
}
.slogan p {
    padding-left: 355px;
    color: #5c5c5c;
    margin: 0 auto;
    padding-bottom: 60px;
}
.slogan h2 {
    line-height: 26px;
    padding-top: 65px;
    padding-bottom: 36px;
    margin: 0px;
}

.first-reason-blue{
    display: block;
    background: #81b3d2;
    width: 400px;
    height: 256px;
    color: #eeeeee;
    text-align: center;
}
.first-reason-blue h2 {
    padding-top: 33px;
}
.first-reason-blue p {
    padding-left: 60px;
}
.first-reason-blue .number,
.second-reason-blue .number {
    padding-left: 175px;
}
.three-reasons .number {
    padding-left: 80px;
}
.fifth-reason .number {
    padding-left: 98px;
}
.fourth-reason .number{
    padding-left: 107px;
}
    
.second-reason-blue {
    background:#81b3d2;
    width: 400px;
    height: 256px;
    color: #eeeeee;
    text-align: center;
}
.second-reason-blue h2 {
    padding-top: 33px;
}
.second-reason-blue p {
    padding-left: 48px;
}
.first-reason {
    display: flex;
    flex-direction: row; 
}
.second-reason {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}
.specific-reason {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 331px;
    width: 1200px;
    background: #ffffff;    
}
.housing {
    text-align: center;
}
.food {
    text-align: center;
}
.souvenirs {
    text-align: center;
}
.three-reasons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 257px;
    width: 1200px;
    background: #eeeeee;

}
.third-reason,
.fourth-reason,
.fifth-reason {
    text-align: center;
}
.map-of-sedona {
    position: absolute;
    top: 2257px;
    width: 1200px;
}
.search-form {
    height: 755px;
}
.search-form .text-title {
    padding-top: 34px;
}
.text-description {
    display: block;
    width: 435px;
    height: 35px;
    padding-bottom: 55px;
  
    margin: auto;
}
.search-hotels {
    background: #766357;
    color: white;
    height: 86px;
    width: 576px;
    font-size: 21px;
    text-transform: uppercase;
    border: none;
    padding: 0; 
}
.search-hotels:hover,
.search-hotels:focus {
    background: #604e43;
}
.search-hotels:active {
    background: #503e33;
    color: #857871;
}
.enter {
    position: relative;
    left: 312px;
    top: -20px;
    height: 397px;
    width: 576px;
    background: white ;
    margin: 0;
}

.enter .button {
    position: relative;
    width: 460px;
    height: 58px;
    background: #81b3d2;
    color: white;
    font-size: 21px;
    text-transform: uppercase;
    left: 60px;
    bottom: -57px;
    border: none;
}
.enter .button:hover,
.enter .button:focus {
    background: #669ec0;
}
.enter .button:active {
    background: #5496bd;
    color: #88b6d1;
}
.enter p{
    display: block;
    font-weight: bold;
    margin-left: 60px;
    width: 460px;
    
}
input[type="text"] {
    background: #f2f2f2 url("../img/calendar.jpg") no-repeat;
    background-position: 317px;
    width: 333px;
    height: 39px;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    
}
input[type="number"] {
    background: #f2f2f2;
    width: 117px;
    height: 35px;
    border: none;
}
p:first-child  {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-top: 56px;
}
p:nth-child(2) {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-top: 15px;
}
#departure {
    padding-left: 13px;
}
#entry {
    padding-left: 13px;
}
p:nth-child(3) {
    padding-top: 16px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.main-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 122px;
    background: #ffffff;
    position: absolute;
    width: 1200px;
}
.footer-social {
    display: flex;
    width: 150px;
    justify-content: space-between;
    
}
.filters {
    display: flex;
    background-image: url("../img/filter-background.jpg");
    width: 1200px;
    height: 220px;
    color: #eeeeee;
}
.filters .filters-features {
    display: flex;
    justify-content: space-around;
    width: 600px;
}
.filter-infrastructure ul {
    padding: 0;
} 
.filter-type-of-housing ul {
    padding: 0;
}

.search-range {
    display: block;
    position: relative;
    left: 210px;
    padding-right: 0;
    width: 325px;
}
.search-range h3 {
    text-align: left;
    font-size: 16px;
    text-transform: uppercase;
}
input.min-price,
input.max-price {
    display: block;
    width: 160px;
    height: 34px;
    background: rgba(0, 0, 0, 0);
    border: #ffffff solid 2px;
    border-collapse: collapse;
    color: #ffffff;
    text-align: center;
}
.price-controls p {
    padding-top: 0;
    width: 320px;
    height: 34px;
    
}
.scale {
    height: 22px;
    width: 317px;
    margin-top: 20px;
}
.scale .slider1 {
    display: block;
    position: absolute;
    bottom: 98px; 
}
.scale .slider2 {
    display: flex;
    width: 272px;
    align-items: center;
}
.show {
    margin-top: 25px;
}
.transparent {
    display: block;
    margin: 0 auto;
    width: 136px;
    height: 39px;
    border: #ffffff solid 2px;
    background: rgba(0, 0, 0, 0);
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}
.transparent:hover,
.transparent:focus {
    background: #ffffff;
    color: black;
}
ul {
    list-style-type: none;
}
.found-features {
    display: inline-block;
    width: 1200px;
    height: 86px;
    background: #ffffff;
}
.found {
    float: left;
    margin-left: 73px;
    margin-top: 31px;
}
.sorting {
    float: left;
    margin-left: 50px;
    margin-top: 40px;
    font-size: 12px;
}
.sort-price {
    float: left;
    margin-left: 40px;
    margin-top: 40px;
    font-size: 12px;
    color: #81b3d2;
    
}
.found-features a {
    text-decoration: none;
}
.sort-type,
.sort-rating {
    float: left;
    margin-left: 33px;
    margin-top: 40px;
    font-size: 12px;
    color: #b2b2b2;
    border-bottom: 1px dashed #b2b2b2;
}
.sort-type:hover,
.sort-type:focus,
.sort-rating:hover,
.sort-rating:focus {
    color:#81b3d2;
    border-bottom: 1px dashed #81b3d2;
}
.sort-type:active,
.sort-rating:active {
    color: black;
} 

.triangle {
    float: right;
    margin-right: 73px;
    margin-top: 40px;
    
}

.sorting-housing {
    display: flex;
    flex-direction: column; 
    background: #ffffff;
    
}
.hotel-features,
.motel-features {
    display: block;
    height: 152px;
    padding: 0 5%;
    border-top: #e5e5e5 solid 2px;
}
.apartment-features {
    display: block;
    height: 152px;
    padding: 0 5%;
    border-top: #e5e5e5 solid 2px;
    border-bottom: #e5e5e5 solid 2px;
}
.hotel-features figure,
.motel-features figure,
.apartment-features figure {
    float: left;
    margin: 30px 0;
    margin-right: 30px;
}
.hotel,
.motel,
.apartment {
    display: block;
    float: left;
    width: 258px;
    height: 90px;
    margin: 28px 0;
}

.hotel-name,
.motel-name,
.apartment-name {
    margin: 0;
    padding: 0;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-align: left;
    text-decoration: none;
    color: black;

}
.hotel-view-price,
.motel-view-price,
.apartment-view-price {
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 10px;
}

.detailed {
    text-decoration: none;
    color: #ffffff;
    background: #81b3d2;
    text-transform: uppercase;
    border: none;
    width: 110px;
    height: 28px;
    
}
.detailed:hover,
.detailed:focus {
    background: #669ec0;
}
.detailed:active {
    background: #5496bd;
    color: #88b6d1;
}
.book {
    text-decoration: none;
    color: #ffffff;
    background: #766357;
    text-transform: uppercase;
    border: none;
    width: 142px;
    height: 28px;
}
.book:hover,
.book:focus {
    background: #604e43;
}
.book:active {
    background: #503e33;
    color: #857871;
}
.hotel-price {
    margin-left: 35px;
}
.motel-price {
    margin-left: 60px;
}
.apartment-price {
    margin-left: 18px;
}
.hotel-name :focus,
.hotel-name:hover,
.motel-name:focus,
.motel-name:hover,
.apartment-name:focus,
.apartment-name:hover {
    color: #81b3d2;
}
.hotel-name:active,
.motel-name:active,
.apartment-name:active{
    color: #b2b2b2
}

.rating-stars {
    display: block;
    float: right;
    width: 110px;
    height: 148px;
}
.hotel-features .stars {
    display: block;
    margin-top: 30px;
    margin-left: 10px;
}
.motel-features .stars {
    display: block;
    margin-top: 30px;
    margin-left: 30px;
}
.apartment-features .stars {
    display: block;
    margin-top: 30px;
    margin-left: 50px;
}
.rating {
    margin: 0;
    height: 26px;
    margin-top: 48px;
}

.main-footer .site {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.text-title {
    text-align: center;
}
.text-description {
    text-align: center;
}
.search {
    text-align: center;
}
.htmlacademy a:hover {
    stroke: #81b3d2;
    fill: #81b3d2;
}
.social-button-tw:hover,
.social-button-tw:focus,
.social-button-fb:hover,
.social-button-fb:focus,
.social-button-yt:hover,
.social-button-yt:hover {

}
